<!DOCTYPE html>

<html>
    <head>
        <title>Algorithmic Drawing</title>
    </head>

    <body>
        <h1>Algorithmic Drawing</h1>
        <h4><a href="/">Back</a></h4>

        <h3>Step</h3>
        <a href="/shaders/step" target="_blank">Shader</a><br>
        <a href="/code/step" target="_blank">Code</a>

        <h3>Smoothstep</h3>
        <a href="/shaders/smoothstep" target="_blank">Shader</a><br>
        <a href="/code/smoothstep" target="_blank">Code</a>

        <h3>Lines</h3>
        <a href="/shaders/lines" target="_blank">Shader</a><br>
        <a href="/code/lines" target="_blank">Code</a>
    </body>
</html>